.graph {
  @include size(calc(100vw - 20px), calc(50vh));
  position: relative;
  transition: $transition;
  margin-bottom: $margin;
  border: $border;
  text-align: center;
  font-size: $sizeTableFont;
  color: $colorTableTxt;
  background-color: $colorBlockBg;
  max-height: 75vh;
  // margin-right: $margin;

  @media (min-width: 630px) {
    @include size(calc(50vw - 17px), calc(50vw - 20px));
  }

  @media (min-width: 1400px) {
    order: 4;
    height: calc(30vh - 9px);
    width: 610px;
    position: absolute;
    bottom: 108px;
    right: 10px;
  }
}
