.map {
  @include size(calc(100vw - 20px), calc(50vh));
  margin-bottom: $margin;
  border: $border;
  text-align: center;
  font-size: $sizeTableFont;
  color: $colorTableTxt;
  background-color: $colorBlockBg;
  // margin-right: $margin;

  @media (min-width: 630px) {
    @include size(calc(50vw - 15px), calc(50vw - 15px));
    margin-right: 10px;
  }

  // @media (max-width: 940px) {
  //   @include size(calc(100vw - 20px), calc(50vh));
  //   margin-right: 0;
  // }

  @media (min-width: 1400px) and (min-height: 960px) {
    width: calc(100% - 930px);
    height: calc(100vw - 950px);
    margin-right: $margin;
    order: 1;
    max-height: calc(100vh - 240px);
  }
}
