.footer {
  @include size(100%, 100px);
  @include flex(row, space-between, center);
  background-color: $colorBlockBg;
  border: $border;
  padding: $padding;
  font-size: $sizeTableFont;
  color: $colorTableTxt;
}

.footer__rss-logo {
  filter: invert(1);
  height: 50px;
}

.footer__created-by {
  @include flex(column, center, flex-start);
  line-height: 1.8rem;

  & a {
    cursor: pointer;
    text-decoration: underline;

    &:hover {
      color: #c4c4c4;
      transform: scale(1.02);
    }
  }
}

.footer__rss-logo:hover {
  transform: scale(1.02);
}
