.header {
  @include size(100%, 150px);
  @include flex(column, space-between, center);
  margin-bottom: $margin;
  background-color: $colorBlockBg;
  border: $border;
  padding: $padding;

  @media (min-width: 630px) {
    @include flex(row, space-between, center);
  }
}

.header__title {
  font-size: 1.8rem;
  font-weight: 700;
  color: $colorTableTxt;
}

.header__dropdowns-block {
  height: 70px;
  @include flex(column, space-between, center);

  @media (min-width: 940px) {
    height: 80px;
  }
}
