/* added this as an example. Delete pls*/
$colorMain: #c4c4c4;
$colorAdditional: #c2f4c2;
$colorText: purple;

$blockMargin: 20px;

$mainBorder: 2px solid black;
/*------------------------------------*/