/* ----- table constants ----- */
// colors
$colorTableBg: rgb(24, 29, 31);
$colorTableTxt: white;
$colorTableCasesTxt: yellow;
$colorTableDeathsTxt: red;
$colorTableRecoveredTxt: green;
// font sizes
$sizeTableFont: 1.2rem;
$sizeCounterTitle: 1.4rem;
$sizeCounterNum: 2rem;
