// colors
$colorTableBg: rgb(24, 29, 31);
$colorTableTxt: #fff;
$colorTableCasesTxt: yellow;
$colorTableDeathsTxt: red;
$colorTableRecoveredTxt: green;
$colorBorder: rgb(134, 134, 134);
// font sizes
$sizeTableFont: 1.2rem;
$sizeCounterTitle: 1.4rem;
$sizeCounterNum: 2rem;
